name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4']
        symfony_version: ['6.4.*', '7.3.*', '7.4.*', '8.0.*']
        dependencies: ['lowest', 'highest']
        exclude:
          - php: '8.2'
            symfony_version: '8.0.*'
          - php: '8.3'
            symfony_version: '8.0.*'

    name: PHP ${{ matrix.php }} tests on Sf ${{ matrix.symfony_version }}, deps=${{ matrix.dependencies }}

    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          extensions: :xdebug

      - run: php ./Tests/bin/pin-symfony-version.php "${{ matrix.symfony_version }}"

      - uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - run: ./vendor/bin/phpunit
